<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Thermo Properties</key>
	<array>
		<string>Gas</string>
		<string>-101.5 °C</string>
		<string>-34.04 °C</string>
		<string>416.9 K</string>
		<string>7.991 MPa</string>
		<string>3.2 Kj/mol</string>
		<string>10.2 Kj/mol</string>
		<string>478.2 J/(kgK)</string>
	</array>
	<key>Basic Properties</key>
	<array>
		<string>Cl₂</string>
		<string>Chlorine</string>
		<string>17</string>
		<string>[Ne]3s²3p⁵</string>
		<string>p</string>
		<string>17</string>
		<string>3</string>
		<string>35.453 u</string>
	</array>
	<key>Material Properties</key>
	<array>
		<string>0.003214 g/cm³</string>
		<string>11030 cm³/mol</string>
		<string>0.0089 W/(mK)</string>
	</array>
	<key>Electromagnetic Properties</key>
	<array>
		<string>Insulator</string>
		<string>100 Ωm</string>
		<string>0.01 S/m</string>
	</array>
</dict>
</plist>
