<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Basic Properties</key>
        <array>
            <string>C₂H₆ </string>
            <string>Ethane</string>
            <string>Carbon (79.9%) | Hydrogen (20.1%) </string>
            <string>30.069 g/mol</string>
            <string>Gas</string>
            <string>-182.79 °C</string>
            <string>-88.6 °C</string>
            <string>0.00125324 g/cm³</string>
        </array>
        <key>Thermo Properties</key>
        <array>
            <string>1.746 (Gas) J/(gK)</string>
            <string>-2.794 (Gas) kJ/g</string>
            <string>7.632 J/(gK)</string>
            <string>2.34 kJ/g </string>
            <string>0.0905 kJ/g</string>
            <string>305.32 K</string>
            <string>4.88 MPa</string>
        </array>
    </dict>
</plist>
